// 9. Custom SWU Styling
// ---------------------

.grey{background:#f0f0f0;}
.border-test{border:1px solid #ccc;}
.masthead{background: #212121;}
.swu-logo{width:170px; height:auto; padding:15px 0px 0px 0px;}
.masthead h1{color: #f7931d; padding:35px 0px 15px 0px;}
.column-border{border:1px solid #eee;}
.footercopy{padding:20px 0px; font-size:12px; color: $secondary-color;}
p{color: $secondary-color !important;}
